<div class="row">
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @restaurant.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @restaurant.website %>
    </p>
  </div>
  <div class="col-md-8">
    <% @reviews.each do |review| %>
      <p><%= review.rating %></p>
      <p><%= review.comment %></p>
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>



<%= link_to "Write Review", new_restaurant_review_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>



