<div class="row">
  <div class="col-md-3">
    <p id="notice"><%= notice %></p>

    <h2>
      <%= @restaurant.name %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %> ></div> 
    <p><%= "#{@reviews.length} reviews" %></p>

    <br>
    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @restaurant.website, @restaurant.website %>
    </p>
  </div>

  <br>
  <h1><%= link_to "Write A Review", new_restaurant_review_path(@restaurant), class: "btn btn-link" %> </h1>

  <div class="col-md-4"> 
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

</div>

<p id="notice"><%= notice %></p>




<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link" %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link" %>



<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
